body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#selection-buttons, #matrix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 40px;
    height: 40px;
    margin: 2px;
    border: none;
    cursor: pointer;
}

#matrix {
    max-width: 264px;
    /* Centraliza a matriz div */
    margin: 0 auto;
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hidden {
    display: none;
}

/* Estilos para o bloco de mensagens */
#message-container {
    margin-top: 20px;
}

#message {
    font-size: 18px;
    font-weight: bold;
}

#attempts-remaining {
    font-size: 16px;
}

/* Estilos para botões já selecionados */
button.attempted {
    background-color: #555555 !important; /* Cinza escuro */
    color: #ffffff;
    cursor: default;
}

#restart-button {
    width: 200px;
    background-color: cadetblue;
}